/*************
 Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* /Common rules
**************** */


/***********
 Debug */
.debug .window{
    background-color: black;
    width: 1440px;
    border: 2px solid rgb(240, 240, 240) ;
}
.debug .nav{
    height: 30px;
    /* background: rgb(167, 167, 167); */
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.debug .nav_window{
    /* background: lightslategrey; */
    width: 100px;
}
.debug .left, .debug .right{
    /* background: lightsteelblue; */
    
    width: 50px;
}
.debug .center{
    /* background: mediumseagreen; */
    width: 50px;
}
.debug .content_nav{
    /* background: navajowhite; */
    /* height: 50px; */
}
.debug .nav_right, .debug .nav_left, .debug .nav_center{
    /* background: rgb(36, 36, 36); */
    /* width: 200px; */
    
    /* height: 50px; */
}

.debug .video{
    /* height: 100px;
    width: 200px; */
   /*  background-size: cover;
    background-position: center; */
    position: relative;
    margin: 0.5rem 0;
}
.debug .name{
    background: rgba(0, 0, 0, 0.452);
    color: white;
    display: inline;
    position: absolute;
    bottom: 5px;
    left: 0;
}
/* /Debug 
************/


/* *********
utility */

/* .clearfix{
    content: "";
    display: table;
    clear: both;
} */
.flex{
    display: flex;
}
/* .f_l{
    float: left;
} */
.i_b{
    display: inline-block;
}
/* background Color */
.bdgry{
    background: rgb(35, 36, 39);
}
.blgry{
    background: rgb(229, 229, 229);
}
/* color */
.red{
    color: rgb(252, 97, 93) ;
}
.ylw{
    color: rgb(253, 188, 65);
}
.grn{
    color:rgb(51, 199, 74);
}
.lbl{
    color:rgb(57, 187, 252)
}
.gry{
    color: rgb(127, 127, 127);
}
/*utility*
************/
/* Window */
.window{
    margin: auto;
    position: relative;
    max-height: 800px ;
}
.buttons span{
    margin: 2px;
}
.censured{
    background: gray;
    border: 3px solid white;
    width: 130px;
    height: 16px;
    vertical-align: -2px;
}
/* content */
.content{
    position: relative;
    padding-top: 2rem;
}
.view_option{
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
   
}
.view, .screen{
    background: rgb(49, 49, 49);
    padding: 5px;
    border-radius: 5px;
}
.container_win{
    justify-content: space-between;
    align-items: stretch;
    margin-top: 15px;
    background: black;
}
.left, .right{
    justify-content: center;
    align-items: center;
    background: black;
}
.center{
    flex-grow: 5;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left, .right{
    flex-grow: 0;
    font-size: 20px;
    color: white;
}
.left .fas, .right .fas{
    font-size: 50px;
}
.video{
    flex-grow: 5;
}
.left:hover, .right:hover{
    cursor: pointer;
}
/* navbar content*/
.content_nav{
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    color: rgb(220, 220, 220);
    text-align: center;
    font-size: 20px;
   
}
.icon{
    margin: 10px;
}
.icon .fas{
    font-size: 25px;
}
.arrow{
    position: relative;
    bottom:10px;
    font-size: 15px;
    margin-right: 10px;
}
.arrow:hover{
    cursor: pointer;
}
.icon:hover{
    cursor: pointer;
    filter: brightness(90);
}
.close{
    padding: 25px 10px;
   background: rgb(75, 76, 79);
   color: rgb(185, 61, 61);
}