/*************
 Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* /Common rules
**************** */


/***********
 Debug */
.debug .window{
    background-color: gray;
    width: 100%;
    border: 2px solid rgb(180, 77, 77) ;
}
.debug .nav{
    height: 30px;
    background: rgb(167, 167, 167);
}
.debug .nav_window{
    background: lightslategrey;
    width: 100px;
}
.debug .left, .debug .right{
    background: lightsteelblue;
    
    width: 50px;
}
.debug .center{
    background: mediumseagreen;
    width: 50px;
}
.debug .content_nav{
    background: navajowhite;
    height: 50px;
}
.debug .nav_right, .debug .nav_left, .debug .nav_center{
    background: rgb(245, 232, 87);
    width: 100px;
    height: 50px;
}
.debug .video{
    height: 100px;
    width: 200px;
    background: palevioletred;
    position: relative;
    margin: 0.5rem 0;
}
.debug .name{
    background: rgba(0, 0, 0, 0.452);
    color: white;
    display: inline;
    position: absolute;
    bottom: 0;
}
/* /Debug 
************/



/* *********
utility */
.clearfix{
    content: "";
    display: table;
    clear: both;

}
.flex{
    display: flex;
}
.f_l{
    float: left;
}

/*utility*
************/

/* content */
.content{
    position: relative;
    padding-top: 2rem;
}
.view_option{
    position: absolute;
    right: 0;
    top: 0;
}
.container_win{
    justify-content: space-between;
    align-items: stretch;
}
.center{
    flex-grow: 5;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left, .right{
    flex-grow: 0;
}
/* navbar content*/
.content_nav{
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}
