/*************
 Common rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* /Common rules
**************** */


/***********
 Debug */
.debug .window{
    background-color: gray;
    width: 100%;
    border: 2px solid rgb(180, 77, 77) ;
}
.debug .nav{
    height: 30px;
    background: rgb(167, 167, 167);
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.debug .nav_window{
    background: lightslategrey;
    width: 100px;
}
.debug .left, .debug .right{
    background: lightsteelblue;
    
    width: 50px;
}
.debug .center{
    background: mediumseagreen;
    width: 50px;
}
.debug .content_nav{
    background: navajowhite;
    /* height: 50px; */
}
.debug .nav_right, .debug .nav_left, .debug .nav_center{
    background: rgb(36, 36, 36);
    /* width: 200px; */
    
    /* height: 50px; */
}
.debug .nav_center{
    /* width: 400px; */
}
.debug .video{
    height: 100px;
    width: 200px;
    background-image: url("https://thispersondoesnotexist.com/image");
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 0.5rem 0;
}
.debug .name{
    background: rgba(0, 0, 0, 0.452);
    color: white;
    display: inline;
    position: absolute;
    bottom: 0;
}
/* /Debug 
************/

.img{
    background-size: contain;
    position: relative;
}

/* *********
utility */
.clearfix{
    content: "";
    display: table;
    clear: both;

}
.flex{
    display: flex;
}
.f_l{
    float: left;
}
.i_b{
    display: inline-block;
}
/*utility*
************/
/* Window */
.title{
    justify-self: center;
}
.censured{
    background: gray;
    border: 3px solid white;
    width: 130px;
    height: 16px;
    vertical-align: -2px;
}
/* content */
.content{
    position: relative;
    padding-top: 2rem;
}
.view_option{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
   
}
.view, .screen{
    background: rgb(49, 49, 49);
    padding: 5px;
    border-radius: 5px;
}
.container_win{
    justify-content: space-between;
    align-items: stretch;
}
.center{
    flex-grow: 5;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left, .right{
    flex-grow: 0;
}
/* navbar content*/
.content_nav{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(220, 220, 220);
    text-align: center;
    font-size: 20px;
}
.icon{
    margin: 10px;
}
.icon .fas{
    font-size: 25px;
}
.arrow{
    position: relative;
    bottom:10px;
    font-size: 15px;
    margin-right: 10px;
}